nav .headerList {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding:5px 20px;
  background-color: rgba(128, 128, 128, 0.404);
  margin-top: 0;
}

nav .headerList li {
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 4px;
}

nav .headerList li:first-of-type {
  font-size: 22px;
  font-weight: 700;
}

nav .headerList li:hover {
  background-color: rgba(245, 245, 245, 0.36);
  transform: scale(1.1);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
}
