nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  z-index: 200;
}

nav .headerList {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0 30px;
}

nav .headerList li {
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 4px;
  font-weight: 600;
}

nav .headerList li:first-of-type {
  font-size: 20px;
  font-weight: 700;
}

nav .headerList li:hover {
  background-color: rgba(128, 128, 128, 0.846);
  transform: scale(1.1);
}

